<!doctype html>
<html lang="en">
<head>
    <!-- 필수 메타 태그 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="image/favicon.png" type="image/png">
    <title>WELCOME TO DONGGUK RESORT</title>



    <!-- 부트 스트랩 CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">



    <!-- 메인 css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <!--================Header Area =================-->
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                
                <a class="navbar-brand logo_h" href="index.html"><img src="image/Logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 토글 링을위한 탐색 링크, 양식 및 기타 콘텐츠 수집 -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="Rooms.html">Rooms</a></li>
                        <li class="nav-item active"><a class="nav-link" href="Amenities.html">Amenities</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="Restaurant.html">Restaurant</a></li>
                        <li class="nav-item"><a class="nav-link" href="QnA.html">QnA</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Area =================-->
   
    
    
    
    <!--================ 숙박 시설 영역  =================-->
    <section class="accomodation_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">All Amenities</h2>
                <p>It is a page to help with the information of the facilities and individual reservation. </p>
            </div>
            <div class="row mb_30">
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="image/room9.jpg" alt="">
                            <a href="#" class="btn theme_btn button_hover">지금 예약</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">리프트 이용권( 1F )</h4></a>
                        <h5>3만원<small>/1인</small></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="image/room10.jpg" alt="">
                            <a href="#" class="btn theme_btn button_hover">지금 예약</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">스키장비( 1F )</h4></a>
                        <h5>4만원<small>/1인</small></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="image/room11.jpg" alt="">
                            <a href="#" class="btn theme_btn button_hover">지금 예약</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">스파( 2F )</h4></a>
                        <h5>8만원<small>/1인</small></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="image/room12.jpg" alt="">
                            <a href="#" class="btn theme_btn button_hover">지금 예약</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">온천( 온천동 )</h4></a>
                        <h5>8만원<small>/1인</small></h5>
                    </div>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room13.jpg" alt="">



                            </div>
                            <a href="#"><h4 class="sec_h4">슈넬치킨본점( 1F )</h4></a>
                            <h5>1만5000원<small>/ 룸서비스가능</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room14.jpg" alt="">

                            </div>
                            <a href="#"><h4 class="sec_h4">오락실( B1 )</h4></a>
                            <h5>무료<small></small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room15.jpg" alt="">

                            </div>
                            <a href="#"><h4 class="sec_h4">마켓( B1 )</h4></a>
                            <h5>무료<small></small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room16.jpg" alt="">

                            </div>
                            <a href="#"><h4 class="sec_h4">바( 15F )</h4></a>
                            <h5>현장결제<small></small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room17.jpg" alt="">

                            </div>
                            <a href="#"><h4 class="sec_h4">GYM( 11F )</h4></a>
                            <h5>무료<small></small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room18.jpg" alt="">

                            </div>
                            <a href="#"><h4 class="sec_h4">실내수영장( 2F )</h4></a>
                            <h5>무료<small></small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room19.jpg" alt="">

                            </div>
                            <a href="#"><h4 class="sec_h4">자동화 주차장( B2-B6 )</h4></a>
                            <h5>비이용고객 90원<small>/30분</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room20.jpg" alt="">

                            </div>
                            <a href="#"><h4 class="sec_h4">약국( B1 )</h4></a>
                            <h5>부분유료<small></small></h5>

                        </div>
                    </div>
    </section>
    <!--================ 숙박 시설 영역  =================-->
   
    
    
    
    
    <!--================ 바닥글 시작 영역  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Agency</h6>
                        <p>This homepage is produced and operated by the Risotto team of database programming in Dongguk University. Please use a lot. Anyone who illegally steals or replicates will be subject to legal penalties. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navigation Links</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Rooms</a></li>
                                    <li><a href="#">Amenities</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">QnA</a></li>
                                    <li><a href="#">Service</a></li>
                                </ul>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Newsletter</h6>
                        <p>You can update your travel news in real time. If you want to hear about Dongguk Resort, please subscribe.Please enter your email.</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-08.jpg" alt=""></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">



                    <!-- 사용 권한 -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> (주)동국리조트에 관리 및 복제 모든권한이 있습니다.



                    <!-- sns 연동 -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ 바닥 글 끝 영역  =================-->
    <!-- Optional 자바스크립트 -->
    <!-- 먼저 jQuery, 그 다음 Popper.js, JS 부트 스트랩 -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>